table {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 12%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-top: 5px;
    background-color:gray;
}

.headermain{
    background-color: black;
   
}
table td,
table th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  
}


.badge {
    color: aquamarine;
}

table th,
tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;
}